<?php
$label_product  =  Mage::getSingleton('core/session')->get_label_product();
$fname = Mage::getSingleton('core/session')->get_docname();
?>
<script type="text/javascript">

jQuery(document).ready(function(){
    jQuery("#checkoutfields_label_product").submit(function(event) {
        var data = jQuery("#label_product").val();
        
        jQuery.ajax({
            url: "/index.php/checkoutfields/index/ajax/",
            type: "POST",
            data: "label_product="+data,
            dataType: "text",
            success: function(result) {
                alert(result);
            },
            error: function() {
                alert("Request error");
            }
        });
        event.preventDefault();
    });
});

</script>
<h4><?php echo $this->__('Label Product') ?></h4>

<form action="<?php echo $this->getUrl('checkout/cart/updatePost') ?>" method="post" id="checkoutfields_label_product">
    <input type="text" name="label_product" id="label_product" value="<?php echo $label_product; ?>" id="label_product"/>
    <input type="submit" value="add" id="checkoutfields_submitt" />
</form>
<br />
<?php if ($fname) :?>
    <form id="doc-form" name="doc-form" method="post" action="/index.php/checkoutfields/index/deletefile/" enctype="multipart/form-data">
        <input type="checkbox" name="deletefile" value="<?php echo $fname; ?>">
        <span><?php echo $fname; ?></span>
        <button type="submit"><span>Dlete</span></button>                     
    </form>
<?php else :?>
    <form id="doc-form" name="doc-form" method="post" action="/index.php/checkoutfields/index/uploadfile/" enctype="multipart/form-data">
        <input type="file" title="File" name="docname">
        <button type="submit" title="Save"><span>Upload</span></button>                     
    </form>
<?php endif ?>