<?php
$items = Mage::getModel('checkoutfields/checkoutfields')->getCollection()->getItems();
?>
<table border="1" align="left">
    <tr>
        <td >Product Name</td>
        <td>Order Id</td>
        <td>Lable product</td>
        <td>Lable global</td>
        <td>File name</td>
    </tr>
<?php foreach($items as $item) : ?>
    <tr>
        <td><?php echo Mage::getModel('catalog/product')->load($item->getProduct_id())->getName(); ?></td>
        <td><?php echo $item->getOrder_id(); ?></td>
        <td><?php echo $item->getLabel_product(); ?></td>
        <td><?php echo $item->getLabel_global(); ?></td>
        <td><?php echo $item->getFile(); ?></td>
    </tr>
<?php endforeach ?>
</table>